
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>
  <script src="https://unpkg.com/ml5@0.5.0/dist/ml5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css"> -->

  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./physio.css">
      <link rel="stylesheet" href="style.css">
      <!-- <script src="https://unpkg.com/ml5@0.4.2/dist/ml5.min.js"></script> -->
      <!-- p5 -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.min.js"></script>
      <!-- ml5 -->
      <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title>Phys.io</title>
      <link rel="shortcut icon" href="ic.ico" type="image/x-icon">
  </head>
  <body style="background-color: black;">

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
              <img src="head logo.png" width="35" height="35" class="d-inline-block align-top" alt="logo" style="border-radius: 30%;">
                Phys.io
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="about.html">About Us</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
              </ul>
            </div>
        </nav>
    </header>

    <main>

      <br>
    
    <div class = "backtohome">

        <form action="/user">
            <button type="submit" class="btn btn-danger">◀Back to Dashboard</button>
        </form>

    </div>
    <br>
    <br>

        <!-- <h1 style="color: aliceblue;"><%=name%></h1> -->
        <center>

          <iframe width="1020" height="530" src="<%=exercise%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </center>


    </main>

  </body>
  </html>
